.searchBar{
    padding: 20px;
    input{
        display: block;
        margin: auto;
        appearance: none;
        border: none;
        min-width: 150px;
        height: 25px;
        padding: 10px 20px;
        outline: none;
        color:rgba(2,175,197,1);
        font-weight: bold;
        font-size:20px;
        border-radius: 15px;
    }
}